asgiref
Django
django-extensions
django-fsm
django-fsm-admin@ git+https://github.com/gadventures/django-fsm-admin.git@fe59a4b09657e011c20e379d262e49c45ba430e7
django-leaflet
django-unfold
factory-boy
Faker
faker-vehicle
psycopg2
python-dateutil
sqlparse
django-debug-toolbar
Pillow
